Tasks to do:
Sundnes:
week 1: 2.7, 2.8, 2.9, 2.15, 2.18, 3.3, 3.6, 3.17
week 2: 4.4, 4.9, 4.10, 4.12, 4.13, 4.17, 4.23
week 3: 5.1, 5.2, 5.3, 5.4, 5.10, 5.12, 5.14, 5.28, 5.46, 5.54

Practice notes:
- list comperhention

# Week 1

## Exercise 2.7: generate equally spaced coordinates
We want to generate n + 1 equally spaced x coordinates in [a, b]. Store the coordinates in a list

    a) Start with an empty list use a for loop and append each 
     coordinate to the list.
    
    hint: with n intervals, corresponding to n+1 points, in [a, b], 
    each interval has length h= (b-a)/n. The coordinates can then be 
    genereated by the formula xi = a + ih, i = 0,....,n + 1
    
    b) use a list comperhension as an alternative implmentation

In [ ]:
# Make a list to store the coordinates
a = int(input("Starting point (a):"))
b = int(input("Ending point (b):"))
n = int(input("Number of intervals (n):"))
coordinates = []
# we need to know spaces between each coordinate which is given by h
h = (b - a)/n

In [ ]:
# for each i we need to move h 
for i in range(n+1):
    x_i = a + i*h
    coordinates.append(x_i)
coordinates

## Exercise 2.8: Make a table of values from a formula
The purpose of this exercise is to write a code that prints a nicely formatted table of t and y(t) values, where:

$$ y(t) = v_0 t - \frac{1}{2} g t^2 $$

Use n + 1 uniformly spaced t values throughout the interval [0,2v0/g]

a) Use a for loop to produce the table
<br> b) Add code with a while loop to produce the table

hint: Because of potential round-off errors, you may need to adjust the upper limit of the while loop to ensure that the last point (t= 2v0/g, y = 0) is included.

In [8]:
v = int(input("Input value for V0: "))
g = float(input("Input value for g: "))
n = int(input("Input value for n: "))

Input value for V0: 5
Input value for g: 5
Input value for n: 5

In [9]:
step_size = (2 * v) / (n * g)
for i in range(n + 1):
    t = i * step_size
    y_t = v * t - 1/2 * g * t**2
    print(f"t: {t:.2f}, y(t): {y_t:.2f}")

t: 0.00, y(t): 0.00
t: 0.40, y(t): 1.60
t: 0.80, y(t): 2.40
t: 1.20, y(t): 2.40
t: 1.60, y(t): 1.60
t: 2.00, y(t): 0.00

## Exercise 2.9 

This exercise aims to produce the same table of numbers as in Exercise 2.8, but with different code. First, store the t and y values in two lists t and y. Thereafter, write out a nicely formatted table by traversing the two lists with a for loop.

Hint In the for loop, use either zip to traverse the two lists in parallel, or use an index and the range construction.

In [20]:
list_t = []
list_y = []

for i in range(n + 1):
    t = i * step_size
    y = v * t - 1/2 * g * t**2
    list_t.append(t)
    list_y.append(y)
print(" t    |    y")
print("--------------")
    
for t, y in zip(list_t, list_y): 
    print(f"{t:.2f} | {y:.2f}")

 t    |    y
--------------
0.00 | 0.00
0.40 | 1.60
0.80 | 2.40
1.20 | 2.40
1.60 | 1.60
2.00 | 0.00

## Exercise 2.15
We define the following nested list:

q = [[’a’, ’b’, ’c’], [’d’, ’e’, ’f’], [’g’, ’h’]]

    a) Index this list to extract:
        1) the letter a; 
        2) the list [’d’, ’e’, ’f’]; 
        3) the last element h; 
        4) the d element. 
        Explain why q[-1][-2] has the value g.

    b) We can visit all elements of q using this nested for loop:
        What type of objects are i and j?

In [30]:
# a)
q = [["a", "b", "c"], ["d", "e", "f"], ["g", "h"]]

print(q[0][0])
print(q[1])
print(q[-1][-1])
print(q[1][0])

# The reason why q[-1][-2] has g is because of the minus, minus indexing gives out the last numbers

a
['d', 'e', 'f']
h
d

In [35]:
# b)
for i in q:
    for j in range(len(i)):
        print(i[j])
print(type(i))
print(type(j))

a
b
c
d
e
f
g
h
<class 'list'>
<class 'int'>

## Exercise 2.18

Explain the outcome of each of the following boolean expressions:
    C = 41 \
    C == 40\
    C != 40 and C < 41\ 
    C!=40 or C<41\
    not C == 40\
    not C > 40\
    C <= 41\
    not False\
    True and False\
    False or True\
    False or False or False True and True and False False == 0\
    True == 0\
    True == 1 

Note:
It makes sense to compare True and False to the integers 0 and 1, but not other integers (e.g., True == 12 is False although the integer 12 evaluates to True in a boolean context, as in bool(12) or if 12).

In [44]:
C = 41 
expressions = [
    C == 40, #false
    C == 41, #true
    C != 40 and C < 41, #true
    C != 40 or C < 41, #false
    not C == 40, #true
    not C > 40, #true
    C <= 41, #false
    not False, #true
    True and False, 
    False or True, 
    False or False or False, 
    True and True and False, 
    False == 0, 
    True == 0,
    True == 1
]

results = [expr for expr in expressions]

results

[False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 True]

## Exercise 3.3
Explain how the following program works:


  Figure out what is being printed without running the program.

In [52]:
# will output 5 and 27
def add(A, B):
    C=A+B
    return C

a=3
b=2
print(add(a, b))
print(add(2*a, b+1)*3)

5
27

## Exercise 3.6
def test_double():\
    assert double(2) == 4\
    assert abs(double(0.1) - 0.2) < 1E-15\
    assert double([1, 2]) == [1, 2, 1, 2]\
    assert double((1, 2)) == (1, 2, 1, 2)\
    assert double(3+4j) == 6+8j\
    assert double(’hello’) == ’hellohello’

In [77]:
def doubble(number):
    C = number * 2
    return C

## Exercise 3.17

a) Write a Python function sum_1k(M) that returns the sum s D PMkD1 k1 .\
b) Compute s for the case M D 3 by hand and write another function test_sum_\
1k() that calls sum_1k(3) and checks that the answer is correct.\

Hint Werecommendthattest_sum_1kfollows the conventions of the pytest and nose testing frameworks as explained in Sects. 3.3.3 and 3.4.2 (see also Sect. H.9). Filename: sum_func.

In [88]:


def sum_1k (m):
    return sum(1/k for k in range())

print(sum_1k(3))

TypeError: 'float' object is not iterable

# Week 2

## Exercise 4.4

## Exercise 4.9

## Exercise 4.10

## Exercise 4.12

## Exercise 4.13

## Exercise 4.17

## Exercise 4.23

# Week 3

## Exercise 5.1

## Exercise 5.2

## Exercise 5.3

## Exercise 5.4

## Exercise 5.10

## Exercise 5.12

## Exercise 5.14

## Exercise 5.28

## Exercise 5.46

## Exercise 5.54